$background-color: #000;
$text-color: #fff;
$highlight-color: rgb(124, 0, 124);
$border-color: white;

body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: $background-color;
  color: $text-color;
  font-family: Arial, sans-serif;
}

.header {
  display: flex;
  justify-content: center;
  gap: 2rem;
  padding: 1rem 0;
  border-bottom: 1px solid $border-color;

  .active {
    color: $highlight-color;
  }

  span {
    cursor: pointer;
  }
}

.content {
  height: calc(100vh - 100px);
  display: flex;
  justify-content: center;
  align-items: center;

  h1 {
    font-size: 2rem;
  }
}

.footer {
  text-align: center;
  padding: 1rem;
  border-top: 1px solid $border-color;
  position: fixed;
  width: 100%;
  bottom: 0;
}
